<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style3.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='favicon.ico')}}">
    <script src="https://kit.fontawesome.com/80443ca163.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo-container">
                <img src="{{url_for('static',filename='Software_Talibans_transparent.png')}}" alt="My Image" class="logo">
                <span class="brand-name">educidate</span>
            </div>
            <div class="profile-container">
                <img src="{{url_for('static',filename='blank-profile-picture.png')}}" alt="User Avatar" class="user-avatar" id="userAvatar">
                <div class="popover" id="profilePopover">
                    <div class="popover-content">
                        <img src="{{url_for('static',filename='blank-profile-picture.png')}}" alt="User Avatar" class="large-avatar">
                        <div id="greeting"></div>
                        <button class="popover-button" id="settingsButton"><i class="fa-solid fa-gear"></i>Settings</button>
                        <button class="popover-button" id="darkModeButton"><i class="fa-solid fa-moon"></i>Dark mode</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="navigation-pane collapsed" id="nav-pane">
            <a id="progressButton" class="nav-button active" href="{{url_for('tracker')}}" onclick="selectOption(this)"><i class="fa-solid fa-list-check"></i><span class="label">Progress</span></a>
            <a id="majorsButton" class="nav-button" href="{{url_for('major')}}"><i class="fa-solid fa-graduation-cap"></i><span class="label">Majors/Minors</span></a>
            <a id="majorsButton" class="nav-button" href="{{url_for('courses')}}"><i class="fa-solid fa-book"></i><span class="label">Select Courses</span></a>
            <a id="electivesButton" class="nav-button" href="#"><i class="fa-solid fa-book-open"></i><span class="label">Electives</span></a>
            <a id="logoutButton" class="nav-button" href="{{url_for('logout')}}"><i class="fa-solid fa-arrow-right-from-bracket"></i><span class="label">Logout</span></a>
        </div>
        <div class="content-pane" id="content-pane">
        </div>
    </main>
    <script src="{{url_for('static',filename='scripts.js')}}"></script>
</body>
</html>