<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style2.css')}}">
</head>

<body>
    <div class="container">
        <main class="content">
            <h1>Welcome, [name]</h1>
            <p>Select your Degree</p>
            <form action="#" method="post">
                <label>Major</label>
                <input type="text" id="major" name="major" list="majorList">

                <label>Minor</label>
                <input type="text" id="minor" name="minor" list="minorList">

                <button type="submit">View Required Courses</button>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <ul class=flashes>
                  {% for major,message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
            </form>
        </main>
    </div>
</body>

</html>